---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm a web developer based in the CO. I'm NOT happy to build things with HTML, CSS, and JavaScript.
  </p>
</BaseLayout>
